*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --blue: #0069AD;
    --black: #000000;
    --grey:#A8A8A8;
    --white:#FFFFFF;

}

.mainsec{

    height: 500px;
    display: flex;
    
    

}

.div2{
    
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
}



.picture1{
    width: 200px;
    margin-top: 60px;
}

.email{
    
    width: 270px;
    height: 40px;
    color: var(--grey);
    background: none;
    padding-left: 6px;
    border-radius: 5px;
    border: 2px solid grey;
}
.password{
    border: 2px solid grey;
    padding-left: 6px;
    height: 40px;
    width: 270px;
    color: var(--grey);
    background: none;
    border-radius: 5px;
}

.div1{
    height: 100%;
    width: 600px;
    margin-left: 13%;
    margin-top: 30px;
    background-image: url(div1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 550px;
}

body{
    background-color: var(--black);
}
.button1{
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    width: 270px;
    height: 35px;
    color: rgb(221, 219, 219);
    margin-top: 10px;
}

.iner1{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.line{
    margin-top: -7px;
    color: rgb(56, 56, 56);
}

.por{
    color: var(--grey);
    font-size: 14px;
}

.iner2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.facebook-logo{
    width: 20px;
}
.p3{
    color: var(--blue);
    font-weight: 700;
}
.p4{
    margin-top: 10px;
    font-weight: 500;
    color: var(--white);
}

.iner3{
    display: flex;
    gap: 5px;
    margin-top:40px
}

.p5{
    color: var(--blue);
    font-weight: 600;
}

.lastdiv{
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 52px;
    gap: 5px;
}

.last1{    
    gap: 20px;
    height: 50%;
    display: flex;
}
.last2{
    gap: 20px;
    height: 50%;
    display: flex;
}

.lastp{
    color: var(--grey);
    font-size: 12px;
}

@media(max-width:1174px){
    .div2{
        margin-right: 20px;
    }
}

@media(max-width:1050px){
    .div1{
        width: 400px;
        height: 100%;
        background-size: 350px;
    }
    .lastp{
        font-size: 10px;
    }
}

@media(max-width:830px){
    .div1{
        visibility: hidden;
    }
    .div2{
        margin-left: -400px;
        width: 100%;
    }
}
